<div class="ui grid three column doubling stackable css-bigger-labels" ng-init="user_agreement = false">
    <div class="row one column">
        <div class="column">
            <h4 class="mt60 c-tac">
                На следующем шаге Вы получите результаты расчетов стоимости КАСКО в различных страховых компаниях.
                <br>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="field">
                <label for="id_client_name">
                   Имя:
                </label>
                <input type="text"
                       ng-model="clientParams.client_name"
                       ng-change="$root.clientDataForMail.name = clientParams.client_name"
                       placeholder="Имя"
                       id="id_client_name"/>
            </div>
        </div>
        
        <div class="column">
            <div class="field">
                <label for="id_client_phone">Телефон:</label>
                
                <input type="text"
                       ui-mask="+7 (999) 999-9999"
                       placeholder="+7 (___) ___-____"
                       model-view-value="true"
                       ng-model="clientParams.client_phone"
                       ng-change="$root.clientDataForMail.phone = clientParams.client_phone"
                       id="id_client_phone"/>
            </div>
        </div>
        
        <div class="column">
            <div class="field">
                <label>&nbsp;</label>
                <button class="ui button teal fluid"
                        ng-disabled="!clientParams.client_phone || !clientParams.client_name"
                        ng-click="calculateKaskoCarFilter();setConfirmation(true)"
                        type="button">
                    Показать тарифы
                </button>
            </div>
        </div>
    </div>

    <div class="row one column">
        <div class="column c-tac">
            <p>Укажите ваше имя и номер телефона для получения расчета и скидки в 10%</p>
        </div>
    </div>

</div>